
[submodule "client-service"]
	path = client-service
	url = https://github.com/semyonan/client-service.git
[submodule "storage-service"]
	path = storage-service
	url = https://github.com/semyonan/storage-service.git
